.wrapper {
  background-color: var(--primary-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 6px;

  &.icon {
    fill: var(--primary-color);
  }
}

.filled {
  fill: var(--primary-color);
}
