.wrapper{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.content{
max-width: 450px;
text-align: center;
}

.title{
color: var(--primary-color);
font: var(--font-l);
font-weight: 700;
}

.description{
font: var(--font-base);
font-weight: 600;
color: var(--gray-700);
}

.button{
width: 100%;
}

.icon{
fill:  var(--primary-color);
}