.header{
background-color: var(--white);
display: flex;
border-bottom: 1px solid var(--gray-50);
padding: 10px var(--container-padding);
width: 100%;
}

.section{
flex: 1;
width: 33%;
display: flex;
align-items: center;
gap: 20px;

&:last-child{
    justify-content: end;
 }
 
}

.logo{
fill:  var(--primary-color);
}